<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "MTG Consulting" %></h1>
  <p>We deliver peace of mind for your accounting systems</p>
</section>

<section class="phx-hero">
  <h1>Bio:  Michael T. Grandinetti</h1>
  <p>cut and paster here</p>
</section>


