<section class="phx-hero">
  <h1><%= gettext "Our team", name: "MTG Consulting" %></h1>
  <p>our team, -maybe link to individual CVs</p>
</section>

<section>
  <h2>  See this website: https://xendoo.com/xendoo-pricing/ </h2>

  <h3> Hereo section, then We need three columns,, then two columns,then one column   </h3>
</section>


