<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">

    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl" style="color: rgb(29, 9, 89) !important;">
      <span class="block"><%= @content.title %></span>
    </h2>

     <br/>
     <h4 class="text-xl font-bold tracking-tight sm:text-xl" style="color: rgb(29, 9, 89) !important;">
        <span class="block"><%= @content.content %></span>
      </h4>
  </div>
</div>
