<%= if @articles  do %>
  <section class="section">
    <div class="container">
      <header class="mb-6"><h2 class="title">slug: </h2></header>
      <div class="columns is-multiline">
        <%= for {article, counter } <- Enum.with_index(@articles)  , do: render_article(@socket, article, counter ) %>
      </div>
    </div>
  </section>
<% end %>
